<mat-drawer #drawer mode="side" position="end">
    <ul class="lista-enlaces">
        <li style="padding: 0 50px;"><a routerLink=""><mat-icon style="color: white;">trolley</mat-icon>Catalogo</a></li>
        <li style="padding: 0 50px;"><a routerLink=""><mat-icon>trolley</mat-icon>Catalogo</a></li>
        <li style="padding: 0 50px;"><a routerLink=""><mat-icon>trolley</mat-icon>Catalogo</a></li>
        <li style="padding: 0 50px;"><a routerLink=""><mat-icon>trolley</mat-icon>Catalogo</a></li>
        <li style="padding: 0 50px;"><a routerLink=""><mat-icon>trolley</mat-icon>Catalogo</a></li>

    </ul>
</mat-drawer>
<div style="text-align: center;">
    <button (click)="drawer.toggle()" class="boton-logo">
        <img src="../../../assets/Logo.png" alt="" class="logo">
    </button>
</div>


