<div style="background-color: #f4ff7d;">
    <app-header></app-header>
    <div class="contenedor-nosotros">
        <div class="imagen-nosotros">
            <img style="width: 100%;" src="../../assets/MyBNosotros.png" alt="Imagen de Micaela la dueña">
        </div>
        <div class="texto-nosotros">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias soluta eaque at expedita nisi nostrum,
                debitis fuga similique corrupti, harum quasi veniam pariatur praesentium omnis culpa distinctio architecto
                nulla. Ut?
            </p>
        </div>
    </div>  
</div>
