.contenedor-nosotros{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    .imagen-nosotros{
        margin:auto;
        width: 100%;
    }
    .texto-nosotros{
        margin: auto;
    }
}